        .cim {
            font-size:24px; font-weight: bold;
        }
        .bekezdes {
            font-size: 12px; text-align: justify;
            margin: 10px;
        }
        body {
            color: red;
            background-image: url("screenshot.jpg");
        }
